@charset "UTF-8";
/* CSS Document */

@media (max-width: 1200px) {

#tokens {
	padding-bottom:150px;
}

.graphic-tokensale {
    right: 16%;
}

}

@media (max-width: 991px) {

ul#menu {
	display:none;
}

.content {
	padding-top:13%;
}

#tokens {
	padding-bottom:250px;
}

.graphic-tokensale {
    right: 35%;
}

.team-col {height:340px;}

.solar-container {
	width:100%;
	padding-left:15px;
	padding-right:15px;
}

.contact-form {
	width:100%;
	padding-left:15px;
	padding-right:15px;
}

}


@media (max-width: 768px) {

body {font-size:14px;}

.content {
	padding-top:22%;
}

.content-container {
	width:100%;
}

.content h1 {font-size:30px;}

.roadmap-desktop {display:none;}
.roadmap-mobile {display:block;}

.graphic-tokensale {
    right: 30%;
}

ul.social li {
    margin-left: 5px;
    margin-right: 5px;
}

.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding-top: 15px;
}

.social-icon i {
    font-size: 24px;
}

}

@media (max-width: 480px) {

.graphic-tokensale {
    right: 15%;
}

.team-col {
    height: 290px;
}


.social-icon {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    padding-top: 12px;
}

.social-icon i {
    font-size: 16px;
}

}

@media screen and (min-device-width : 300px) and (max-width: 480px) {

.nav-dropdown {
    font-size: 14px;
	padding: 20px 0 20px 20px;
}
	
}

